<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="google-site-verification" content="fto43W1-4i099gqlMImLOannS1KjzlC5A-a1dnT0iVs">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>MY BLOG | archive</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/9.13.1/styles/github.min.css">
  <link rel="stylesheet" href="./styles/common.css">
</head>
<body>
  <div class="content">
    {% include './header.html' %}
    <div class="archive">
        {% for item in items %}
          <section class="arch-year">
            <h1>{{ item.year }}</h1>
            {% for post in item.posts %}
              <div class="arch-list">
                <a href="{{ post.href }}">{{ post.title }}</a>
                <span>{{ post.date }}</span>
              </div>
            {% endfor %}
          </section>
        {% endfor %}
    </div>
    {% include './footer.html' %}
  </div>
  <div id="gotop">top</div>
  <script src="https://cdn.staticfile.org/jquery/2.1.2/jquery.min.js"></script>
  <script src="./scripts/index.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>